html{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.questions{
    border: solid 5px black;
    background-color: burlywood;
    border-radius:25px;
    padding: 10px;
    margin: 20px;
}

h1{
    display: grid;
    justify-content: center;
    align-items: center;
}